/* BUTTON */
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    cursor: pointer;
}
.button p {
    margin: 0;
}
.button.cart{
    padding: 0.56rem 0.62rem;
    border-radius: 0.625rem;
    background: #FFF;
    gap: 0.625rem;
}
/* NAVBAR */
.navbar , .navbar > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar{
    justify-content: space-between;
    padding: 1.25rem 0;
}
.navbar input{
    display: flex;
    padding: 0.5625rem 0.625rem;
    align-items: center;
    gap: 12.3125rem;
    border-radius: 0.625rem;
    background: #FFF;
    border: none;
    color: #383634;
}
.navbar input:focus,.navbar input:active{
    outline: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 6fr;
}
/* FILTERS */
.filter{
    grid-column: 1/2;
    grid-row: 1;
}
/* PRODUCTS */
.products{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.product{
    height: 31rem;
    border-radius: 0.625rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.add{
    border: 1px solid #4C7C7D;
    box-shadow: none;
}
.product > img{
    width: 18.375rem;
    height: 24.0625rem;
}
.rate{
    color: #4C7C7D;
    font-size: 1rem;
    font-weight: 600;
}
.info{
    width: 100%;
    border-top: 1px solid #4C7C7D;
    font-size: 0.9rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: #4C7C7D;
    margin: 0.4rem 0;
}
.price img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 0.2rem 0.6rem;
}
/* FOOTER */
.Footer{
    margin: 0 auto;
}
.Footer h3{
    color: #383634;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.footer-social{
    text-align: center;
    margin: 1rem auto;
}
.icons-redes{
    width: 3rem;
}
.designer-developer{
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    gap: 10px;
}
.designer-developer h3{
    margin: 0 auto;
    font-size: 0.875rem;
    font-weight: 700;
}
.flex-footer{
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
}

